
*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 20px;
}
ul li a{
    text-decoration: none;
}
.container{
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    height: 900px;
    width: 50%;
    display: flex;
    background: url("img/hero-item.png");

}
.right{
    height: 900px;
    width: 50%;
}

.main{
    margin-top: 120px;
    height: 324px;
    width: 1528px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left1{
    background-color: blue;
    height: 324px;
    width: 50%;
    display: flex;

}
.right1{
    background-color: aqua;
    height: 324px;
    width: 50%;
}

nav{
    width: 100%;
}

ul{
    padding: 50px;
}

.heading{
    width: 100%;
    height: 782px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    width: 361px;
    height: 96px;
    color: black;
    text-align: center;
}
h2{

    width: 361px;
    height: 38px;
    color: black;
    font-size: 16px;
    text-align: center;
}
.nav1{
    color: black;
}

h3{
    width: 613px;
    height: 132px;
    color: black;
    font-size: 28px;
    padding-left: 50px;
}


